body {
  background-color: #282c34;
}

.App {
  text-align: center;
  width: 80%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.portrait {
  height: 20%;
  width: 20%;
  border-radius: 50%;
  padding-bottom: 1rem;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
